$color-black: #333333;
$color-orange: #F59B65;
$color-green: #7FB559;

@mixin ab_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

$pad-w: 767px;
$phone-w: 575px;
@mixin pad {
  @media screen and (max-width: $pad-w) {
    @content;
  }
}
@mixin phone {
  @media screen and (max-width: $phone-w) {
    @content;
  }
}

* {
  font-family: "Lato", sans-serif;
  //border: 1px solid #000;
  box-sizing: border-box;
  vertical-align: top;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section-nav {
  img {
    width: 220px;
  }
}

.main-product {
  max-width: 800px;
}
.material {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  .container {
    max-width: 750px;
  }
}
.about {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  .container {
    max-width: 900px;
    min-height: 285px;
    img {
      @include ab_center;
    }
  }
}
.contact {
  ul {
    width: 250px;
    i {
        width: 50px;
      }
  }
  
}