$color-black: #333333;
$color-orange: #F59B65;
$color-green: #7FB559;

@mixin ab_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

$pad-w: 767px;
$phone-w: 575px;
@mixin pad {
  @media screen and (max-width: $pad-w) {
    @content;
  }
}
@mixin phone {
  @media screen and (max-width: $phone-w) {
    @content;
  }
}

* {
  font-family: "Lato", sans-serif;
  //border: 1px solid #000;
  box-sizing: border-box;
  vertical-align: top;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section-nav {
  img {
    width: 220px;
  }
  @include phone {
    font-size: 0.9em;
    text-align: center;
  }
}

.top-banner {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  color: #fff;
}

.main-product {
  max-width: 800px;
  .card-btn {
    border-radius: 0;
  }
  @include pad {
    .card {
      width: 80%;
      margin: auto;
    }
  }
  button.btn-green {
    background-color: $color-green;
    color: #fff;
    &:hover {
      background-color: darken($color-green, 5%);
      color: #fff;
    }
  }
} 

.material {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  .container {
    max-width: 750px;
  }
}
.other-products {
  img {
    width: 90%;
  }
  .wader-modal {
    .modal-body {
    }
  }
  button.btn-orange {
    background-color: $color-orange;
    color: #fff;
    transition: .3s;
    &:hover {
      background-color: darken($color-orange, 10%);
      color: #fff;
    }
  }
}
.about {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  .container {
    max-width: 900px;
    min-height: 350px;
    img {
      @include ab_center;
      @include phone {
        position: relative;
      }
    }
  }
}
.contact {
  @include phone {
    margin: 2em;
  }
  ul {
    width: 280px;
    li {
      height: 50px;
      line-height: 25px;
      i {
        width: 50px;
        line-height: 25px;
      }
    } 
  }
}
footer {
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  .go-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 30px;
    text-align: center;
    opacity: 0;
    transition: .3s;
    a {
      color: $color-orange;
      font-weight: bold;
      img {
        width: 40px;
        fill: #fff;
      }
      &:hover {
        text-decoration: none;
        color: darken($color-orange, 10%);
        transition: .2s;
      }
    }
  }
  @include phone {
    text-align: center;
  }
}
